// Config Tmux style (to avoid Zellij modes).

theme "catppuccin-mocha"
pane_frames false
default_mode "locked"
copy_on_select false

keybinds clear-defaults=true {
    locked {
        bind "Alt 1" { GoToTab 1; SwitchToMode "Locked"; }
        bind "Alt 2" { GoToTab 2; SwitchToMode "Locked"; }
        bind "Alt 3" { GoToTab 3; SwitchToMode "Locked"; }
        bind "Alt 4" { GoToTab 4; SwitchToMode "Locked"; }
        bind "Alt 5" { GoToTab 5; SwitchToMode "Locked"; }
        bind "Alt 6" { GoToTab 6; SwitchToMode "Locked"; }
        bind "Alt 7" { GoToTab 7; SwitchToMode "Locked"; }
        bind "Alt 8" { GoToTab 8; SwitchToMode "Locked"; }
        bind "Alt 9" { GoToTab 9; SwitchToMode "Locked"; }
    }

    shared_except "tmux" {
        bind "Ctrl Space" { SwitchToMode "Tmux"; }
    }

    tmux {
        bind "Esc" { Write 2; SwitchToMode "Locked"; }

        // Sessions
        bind "Ctrl t" {
            NewTab {
              layout "/home/pedrosilva/.config/zellij/layouts/fzf_session.kdl"
            };
            SwitchToMode "Locked";
            Detach;
        }
        bind "Ctrl p" {
            NewTab {
              layout "/home/pedrosilva/.config/zellij/layouts/toggle_session.kdl"
            };
            SwitchToMode "Locked";
            Detach;
        }

        // Tabs
        bind "Ctrl n" { NewTab; SwitchToMode "Locked"; }

        // Panes
        bind "Ctrl s" { NewPane "Down"; SwitchToMode "Locked"; }
        bind "Ctrl v" { NewPane "Right"; SwitchToMode "Locked"; }
        bind "Ctrl h" { MoveFocus "Left"; SwitchToMode "Locked"; }
        bind "Ctrl l" { MoveFocus "Right"; SwitchToMode "Locked"; }
        bind "Ctrl j" { MoveFocus "Down"; SwitchToMode "Locked"; }
        bind "Ctrl k" { MoveFocus "Up"; SwitchToMode "Locked"; }

        // Scroll
        bind "Ctrl e" { EditScrollback; SwitchToMode "Locked"; }
        bind "Ctrl d" { HalfPageScrollDown; }
        bind "Ctrl u" { HalfPageScrollUp; }
    }
}

plugins {
    strider location="zellij:strider"
    compact-bar location="zellij:compact-bar"
    session-manager location="zellij:session-manager"
    filepicker location="zellij:strider" {
        cwd "/home/pedrosilva"
    }
}
